.language-section{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 80px;
  background-color: #1E1E1E;
  border-radius: 24px;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
}


.language-container{
  width: 100%;
  display: flex;
  gap: 80px;
  justify-content: start;
}

.language-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.left-top-mt{
  height: 38px;
}

.left-line-lang{
  display: flex;
  width: 100%;
  gap: 8px;
  justify-content: start;
  align-items: center;
}

.lang-name{
  font-size: 32px;
  font-weight: 400;
  text-align: left;
}

.lang-type-spec{
  padding: 4px 16px;
  background-color: #121212;
  color:#007bff;
  border-radius: 14px;
  font-size: 16px;
  font-weight: 200;
  text-align: left;
}

.language-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
}

.right-top-lang{
  display: flex;
  justify-content: space-between;
}

.right-top-lang-heading{
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.tick-row{
  display: flex;
  justify-content: space-between;
}

.tick-icon-image{
  height: 34px;
}