
.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 40px;
  padding: 80px;
  background-color: #1E1E1E;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.pro-row {
  display: flex;
  gap: 40px; 
  justify-content: center; 
  align-items: stretch; 
  width: 100%; 
}

.project {
  display: flex;
  flex-direction: column; 
  flex: 1;
  width: 100%;
  padding: 24px;
  background-color: #121212;
  border-radius: 24px;
  gap: 24px;
  box-sizing: border-box;
}

.project-thumb {
  width: 100%;
  border-radius: 18.65px;
  object-fit: cover; 
}

.project-details {
  display: flex;
  flex-direction: column; 
  flex-grow: 1; 
  gap: 8px;
}

.pro-name {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.genre-of-pro {
  font-size: 20px;
  font-weight: 400;
  color: #b0b0b0;
}

.pro-description {
  font-size: 16px;
  font-weight: 400;
  color: white;
  flex-grow: 1;
}

a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

a:hover .project-thumb{
  cursor: pointer;
  opacity: 0.6;
}